{
  "hostname": "keg-scale",
  "httpPort": 80,
  "wifi": {
    "ssid": "<your-wifi-ssid>",
    "passphrase": "<your-wifi-passphrase>"
  },
  "ota": {
    "port": 8266,
    "password": "<ota-password>"
  }
}
