{
  "hostname": "keg-scale",
  "httpPort": 80,
  "wifi": {
    "ssid": "<your-wifi-ssid>",
    "passphrase": "<your-wifi-passphrase>"
  },
  "ota": {
    "port": 8266,
    "password": "<ota-password>"
  },
  "scales": [
    {
      "clockPin": <clock-pin-for-scale-1>,
      "dataPin": <data-pin-for-scale-1>
    },
    {
      "clockPin": <clock-pin-for-scale-2>,
      "dataPin": <data-pin-for-scale-2>
    }
  ]
}
