html, body, #root {
  height: 100vh;
}

.scalesTabPanel {
  height: 100%;
}

.scalesGrid {
  --grid-layout-gap: 8px;
  --grid-column-count: 2;
  --grid-item--min-width: 450px;
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  grid-gap: var(--grid-layout-gap);

  height: 100%;
}

.recordingTabPanel {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chart-frame {
  background-color: rgba(255, 255, 255, 0.03);
  position: relative;
}

.chart-container {
  height: 100%;
  overflow: auto hidden;
  /* we could make some vertical space for the progress bar if needed, e.g. padding-bottom: 16px; */
}

.chart-container > canvas {
  position: absolute;
  left: 8px;
  top:8px;
  pointer-events: none;
  border-right: 1px solid #1e1e1e;
}

.chart-display-value {
  position: absolute;
  right: 16px;
  top: 16px;
}
