.App {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

#chart-yAxisWrapper {
  flex-grow: 0;
  flex-shrink: 0;
}

.chart-container {
  background-color: rgba(255, 255, 255, 0.08);
}

.chart-scroll-container {
  overflow: auto hidden !important;
}
