html, body, #root {
  height: 100vh;
}

.scales-tab-panel {
  height: 100%;
}

.scales-grid {
  --grid-layout-gap: 8px;
  --grid-column-count: 2;
  /* FIXME this is too small for mobile use cases */
  --grid-item--min-width: 450px;
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  grid-gap: var(--grid-layout-gap);

  height: 100%;
}

.scale-paper:has(.stretched-tab-panel) {
  height: 100%;
}

.stretched-tab-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chart-frame {
  background-color: rgba(255, 255, 255, 0.03);
  position: relative;
}

.chart-frame canvas {
  pointer-events: none;
}

.chart-container {
  height: 100%;
  overflow: auto hidden;
  /* we could make some vertical space for the progress bar if needed, e.g. padding-bottom: 16px; */
}

.chart-container > canvas {
  position: absolute;
  left: 8px;
  top:8px;
  pointer-events: none;
}

.chart-display-value {
  pointer-events: none;
  position: absolute;
  right: 16px;
  top: 20%;
}

.dropzone {
  border-width: 2px;
  border-radius: 4px;
  border-color: rgba(255, 255, 255, 0.12);
  border-style: dashed;
  background-color: rgba(255, 255, 255, 0.03);
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  padding: 16px;
  outline: none;
}
